@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --sidebar-color: #1992d4;
  --main-color: #e2e8f0;
  --header-color: #ffffff;
  --accent-color: #facc15;

  font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 4fr;
}

.sidebar {
  background-color: var(--sidebar-color);

  grid-row: 1/-1;

  color: white;
}

.header {
  background-color: var(--header-color);
}

.main {
  background-color: var(--main-color);
}

.sidebar-header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  width: 100%;
  border: 1px solid black;

  align-items: center;

  margin-bottom: 40px;
}

.sidebar-header h3 {
  margin: 0;
}

.sidebar-header img {
  margin: 0px;
  justify-self: end;
  width: clamp(50px, 40%, 60px);

  margin-left: 6px;

  filter: invert();
}

.sidebar li {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 3fr;
  font-size: 0.8rem;

  height: min-content;
  border: 1px solid black;
}

.sidebar li img {
  margin: 0;
  justify-self: end;
  align-self: center;
  margin: 10px;
  width: 40%;

  filter: invert();
}

.sidebar li h4 {
  margin: 0;
  align-self: center;
}

.nav-1 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  border: 1px solid red;

  margin-bottom: 40px;
}

.nav-2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid blue;
}
